<IfModule mod_rewrite.c>
	RewriteEngine On
    RewriteRule ^$   public/    [L]    
    RewriteRule (.*) public/$1  [L]
</IfModule>

<IfModule mod_headers.c>
	Header set Access-Control-Allow-Origin "*"
	Header add Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept, Authorization"
	Header add Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
</IfModule>
